@forward "globals";

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-image: linear-gradient(
    to right,
    var(--gde-light),
    var(--gde-dark)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  height: -webkit-fill-available;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;

  &__logo {
    width: 6.25rem;
  }
}

.navbar {
  display: flex;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      margin: 0 0.95em;
      cursor: pointer;
      img {
        width: 1.25rem;
      }
    }
  }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
  color: var(--white);

  &__content {
    max-width: 31.875rem;
    order: 2;

    & .title {
      font-size: 3.3rem;
      font-weight: bolder;
      line-height: 1.2em;
    }

    & .author {
      font-size: 1rem;
      font-weight: 700;
    }

    & .subtitle {
      font-size: 1rem;
    }

    h2,
    h1,
    p {
      margin: 0;
    }

    & .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      padding: 2em 0;
      & .flex {
        display: flex;
        justify-content: center;
      }

      & .dark-btn {
        background: var(--green);
      }

      button {
        cursor: pointer;
        font-weight: 500;
        max-width: 14.0625rem;
        padding: 1em;
        background: transparent;
        border: 1px solid var(--green);
        color: var(--white);
        transform: skew(-20deg);
        p {
          transform: skew(20deg);
        }
        img {
          padding-right: 1em;
          transform: skew(20deg);
          width: 0.729375rem;
        }
      }
    }
  }

  &__hero {
    order: 1;
    width: 18.75rem;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 76%;

    & .hide-btn {
      display: block;
    }

    &__content {
      order: 1;
    }

    & .title {
      font-size: 4.25rem;
    }

    & .subtitle {
      font-size: 1.25rem;
    }

    &__hero {
      order: 2;
      width: 31.25rem;
    }
  }
}
